<div class="tab-pane fade" id="detail-item" role="tabpanel" aria-labelledby="detail-item-tab">
	<div class="card mt-4 mb-4">
		<div class="card-body">
			<form action="/admin/item/<%= item.id %>?_method=PUT " method="POST" enctype="multipart/form-data">
				<div class="form-group">
					<label for="title">Title</label>
					<input
						type="text"
						class="form-control"
						id="title"
						name="title"
						aria-describedby="title"
						placeholder="Enter title"
						value="<%= item.title %>"
					/>
				</div>
				<div class="form-group">
					<label for="price">Price</label>
					<input
						type="number"
						class="form-control"
						id="price"
						name="price"
						aria-describedby="price"
						placeholder="Enter price"
						value="<%= item.price %>"
					/>
				</div>
				<div class="form-group">
					<label for="city">City</label>
					<input
						type="text"
						class="form-control"
						id="city"
						name="city"
						aria-describedby="city"
						placeholder="Enter city"
						value="<%= item.city %>"
					/>
				</div>
				<div class="form-group">
					<label for="country">Country</label>
					<input
						type="text"
						class="form-control"
						id="country"
						name="country"
						aria-describedby="country"
						placeholder="Enter country"
						value="<%= item.country %>"
					/>
				</div>
				<div class="form-group">
					<label for="category">Category</label>
					<select name="categoryId" id="" class="form-control">
						<option value=""> --- Category --- </option>
						<% for( let i = 0; i < category.length; i++ ) { %>
						<option value="<%= category[i].id %>" 
							<% if (category[i].id == item.categoryId) { %>
								selected
							<% } %>
							> <%= category[i].name %> </option>
						<% } %>
					</select>
				</div>
				<div class="form-group">
					<label for="image">Image</label>
					<div>
						<button class="btn btn-primary" type="button" onclick="document.getElementById('image').click()">Choose Image</button>
						<input
							style="display: none;"
							type="file"
							class="form-control"
							id="image"
							name="image"
							aria-describedby="image"
							placeholder="Enter image"
							multiple
						/>
					</div>
				</div>
				<div class="form-group">
					<label for="description">Deskripsi</label>
					<textarea name="description" id="description" class="form-control">
						<%= item.description %> 
					</textarea>
				</div>
				<button type="submit" class="btn btn-primary">Update item</button>
			</form>
		</div>
	</div>
</div>
