<div class="tab-pane fade" id="activity-item" role="tabpanel" aria-labelledby="activity-item-tab">
	<!-- DataTales Example -->
	<div class="card mt-4 mb-4">
		<div class="card-header py-3">
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal-activity">
				<i class="fas fa-plus"></i>
				<span class="ml-1">Add new activity</span>
			</button>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table hover dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th style="width: 50;">No</th>
							<th>Name</th>
							<th>Type</th>
							<th>Image</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<% for( let i = 0; i < item.activityId.length; i++ ) { %>
						<tr>
							<td><%= i + 1 %></td>
							<td><%= item.activityId[i].name %></td>
							<td><%= item.activityId[i].type %></td>
							<td><%= item.activityId[i].image %></td>
							<td>
								<form action="/admin/item/<%= item.activityId[i].id %>/activity?_method=DELETE" method="POST">
									<button type="submit" class="btn btn-icon btn-danger btn-circle btn-sm">
										<i class="fas fa-trash"></i>
									</button>
									<a href="#" class="btn btn-success btn-circle btn-sm"
										><i class="fas fa-plus"></i
									></a>
								</form>
							</td>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<%- include('modal_activity.ejs') %> 
