<div class="tab-pane fade" id="feature-item" role="tabpanel" aria-labelledby="feature-item-tab">
	<!-- DataTales Example -->
	<div class="card mt-4 mb-4">
		<div class="card-header py-3">
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal-feature">
				<i class="fas fa-plus"></i>
				<span class="ml-1">Add new feature</span>
			</button>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table hover dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th style="width: 50px;">No</th>
							<th>Name</th>
							<th>Qty</th>
							<th>Image</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<% for( let i = 0; i < item.featureId.length; i++ ) { %>
						<tr>
							<td><%= i + 1 %></td>
							<td><%= item.featureId[i].name %></td>
							<td><%= item.featureId[i].qty %></td>
							<td><img src="<%= item.featureId[i].imageUrl%>" height="50" alt=""></td>
							<td>
								<form action="/admin/item/<%= item.id %>/feature/<%= item.featureId[i].id %>?_method=DELETE" method="POST">
									<button
										type="button"
										class="btn btn-icon btn-info btn-circle btn-sm btn-update-feature"
										data-toggle="modal"
										data-target="#edit-modal-feature"
										data-id="<%= item.featureId[i].id %>"
										data-name="<%= item.featureId[i].name %>"
										data-qty="<%= item.featureId[i].qty %>"
										data-image="<%= item.featureId[i].image %>"
									>
										<i class="fas fa-edit"></i>
									</button>
									<button type="submit" class="btn btn-icon btn-danger btn-circle btn-sm">
										<i class="fas fa-trash"></i>
									</button>
								</form>
							</td>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<%- include('modal_feature.ejs') %> 
