<!-- DataTales Example -->
<div class="card shadow mb-4">
	<div class="card-header py-3">
		<!-- Button trigger modal -->
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal-category">
			<i class="fas fa-plus"></i>
			<span class="ml-1">Add Category</span>
		</button>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>No</th>
						<th>Name</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<% for( let i = 0; i < category.length; i++ ) { %>
					<tr>
						<td><%= i + 1 %></td>
						<td><%= category[i].name %></td>
						<td>
							<form action="/admin/category/<%= category[i].id %>?_method=DELETE" method="POST">
								<button
									type="button"
									class="btn btn-icon btn-warning btn-circle btn-sm btn-update-category"
									data-toggle="modal"
									data-target="#edit-modal-category"
									data-id="<%= category[i].id %>"
									data-name="<%= category[i].name %>"
								>
									<i class="fas fa-edit"></i>
								</button>
								<button type="submit" class="btn btn-icon btn-danger btn-circle btn-sm">
									<i class="fas fa-trash"></i>
								</button>
							</form>
						</td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</div>
</div>
