<%- include('../../partials/header.ejs') %> 

  <!-- Page Wrapper -->
  <div id="wrapper">

    <%- include('../../partials/sidebar.ejs') %> 

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <%- include('../../partials/navbar.ejs') %> 

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <%- include('../../partials/message.ejs') %> 

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Bank</h1>

          <%- include('table_bank.ejs') %> 

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <%- include('../../partials/footer.ejs') %> 

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

<%- include('add_modal_bank.ejs') %> 
<%- include('edit_modal_bank.ejs') %> 
<%- include('../../partials/js.ejs') %> 
  
<script>
  $("#dataTable").on('click', '.btn-update-bank', function () {
    let id = $(this).data('id');
    let name = $(this).data('name');
    let name_bank = $(this).data('name-bank');
    let nomor_rekening = $(this).data('nomor-rekening');
    $('#edit-modal-bank-name').val(name);
    $('#edit-modal-bank-name-bank').val(name_bank);
    $('#edit-modal-bank-nomor-rekening').val(nomor_rekening);
    $('#edit-modal-bank-form').attr("action", "/admin/bank/" + id + "?_method=PUT");
  })

  $("#dataTable").on('click', '.btn-delete-bank', function () {
    let id = $(this).data('id');
    $('#delete-modal-bank-form').attr("action", "/admin/bank/" + id + "?_method=DELETE");
  })
</script>
